header{
  background-color: lightblue;
  position: fied;
  display:grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  width: 100%;
  top: 0px;
  height: 10%;
  padding-bottom: 9px;
}
main{
  background-color: lightgrey;
}
body{
  background-color: white;
}
header>.lenke{
  align-self: center;
}
header>.lenke>a{
    text-decoration: none;
    color: white;
}
#logo{
  color: white;
  padding-right: 15px;
}
#logo>a>img{
  text-decoration: none;
  width: 300px;
  margin-left: 0px;
}
#logo>img{
  width: 300px;
  margin-left: 0px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}
.span-3{
  grid-column: span 3;
}
h1{
  text-align: center;
}
#footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#bak{
  text-align: center;
}
#bak>img{
  width: 400px;
  height: 260px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}
.container {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 35px;
    background-color: white;
    background: transparent(50%);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.link{
  text-align: right;
}
